
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">old PUHU ROBOTICS #9187</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="https://shorturl.at/fgjK0">Biz Kimdik?</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://shorturl.at/egw67">FRC Nedir?</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://bit.ly/3B1YLbo">Sezonlar</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://bit.ly/44vLDca">Resimler</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://shorturl.at/bnST3">Destekçilerimiz</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://bit.ly/3phQcH3">İletişim</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
